@media screen and (min-width: 992px){
    .catalog {
        width: 90%;
        margin: auto;
    }
}


.catalog__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -.25rem;
    margin-right: -.25rem;
}